env/
.env/
.ofa/
*.p
annotations_trainval2017/
.DS_Store
*.png
!spec/*.png
virtualhome/.git
virtualhome/assets
OFA/.git
*.app
windows_exec
linux_exec.v2.3.0
*.tsv
*.txt
.swp
*.pt
*.pth
programs_nonaug_graph/
ziFZkyug
ziFZkyug/
*.ziFZkyug
__pycache__/
data/
augmented/
*.tar.gz
*.bin
*.tar
*.log
virtualhome1/example_graphs/TrimmedTestScene7_graph.json
virtualhome1/example_graphs/TrimmedTestScene6_graph.json
virtualhome1/example_graphs/TrimmedTestScene5_graph.json
virtualhome1/example_graphs/TrimmedTestScene4_graph.json
virtualhome1/example_graphs/TrimmedTestScene3_graph.json
virtualhome1/example_graphs/TrimmedTestScene2_graph.json
virtualhome1/example_graphs/TrimmedTestScene1_graph.json
virtualhome1/example_graphs/TestScene7_graph.json
virtualhome1/example_graphs/TestScene6_graph.json
virtualhome1/example_graphs/TestScene5_graph.json
virtualhome1/example_graphs/TestScene4_graph.json
virtualhome1/example_graphs/TestScene3_graph.json
virtualhome1/example_graphs/TestScene2_graph.json
virtualhome1/example_graphs/TestScene1_graph.json
virtualhome1/LICENSE.md
virtualhome1/README.md
virtualhome1/resources/README.md
virtualhome1/simulation/README.md
virtualhome1/simulation/unity_simulator/README.md
virtualhome1/dataset/README.md
virtualhome1/assets/vh_intro.gif
BLIP/.blip/
annotations_trainval2017/
AliceMind/mPLUG/data/
Output/
.mplug/
augment_location/
auto/
front_person/
first_person/
*.tsv
*.tar.xz
logs/model.log.1
logs/model.log.2
logs/model.log.1
virtualhome/src/virtualhome/augment_location/
.vh/
virtualhome/src/virtualhome/programs_nonaug_graph/

BLIP/vh_mdp/virtualhome/
BLIP/vh_mdp/.vh/
exec_linux/
exec_linux_07_01_Data/
exec_linux_07_01.x86_64
